@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  /* Indispensable pour que h-full fonctionne dans App.tsx */
  height: 100% !important;
  width: 100%;
  overflow: hidden; /* On bloque le scroll de la page entière */
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f9fafb;
}

#root {
  display: flex;
  flex-direction: column;
}